
@{
    ViewBag.Title = "Index";
}

<h2>Sobre o Sistema ByRupee</h2>

<p>
    O sistema ByRupee, surgiu da necessidade das pessoas terem um melhor controle das suas despensas pessoais, por exemplo quando queremos tomar um café, vamos até a despensa para pegar o pó de café e descobrimos que o pó acabou isso é muito frustrante.
    Já com o nosso sistema você saberá exatamente quantos produtos você tem em sua despensa, e mais o sistema lhe avisa quanto estiver acabando o determinado produto para você poder se programar com antecedência para repor os produtos.
    O ByRupee foi desenvolvido por <strong><em>Wellington Issami Yoshida, Thiago, Marcelo</em></strong>, integrantes do Grupo n° 5 do Treinamento <strong><em>(DB1-Trainee).</em></strong>
</p>

